<ion-view view-title="Social Links">
  <ion-content>
  	<div class="list">

      <a class="item item-icon-left item-icon-right" onclick="window.open('https://www.facebook.com/DANISHMOTOR12/', '_system', 'location=yes')">
        <i class="icon ion-social-facebook"></i>
        facebook
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    
      <a class="item item-icon-left item-icon-right" href="#/tab/social/mail">
        <i class="icon ion-android-mail"></i>
        Mail us
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    
      <a class="item item-icon-left item-icon-right" onclick="window.open('http://danishmotors.com/', '_system', 'location=yes')">
        <i class="icon ion-earth"></i>
        www.danishmotors.com
        <i class="icon ion-chevron-right icon-accessory"></i>
      </a>
    
    </div>
  
    
  </ion-content>
</ion-view>
