<ion-view view-title="Danish Motors">
  
  <ion-content>
  	  <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="car in newCars" type="item-text-wrap" href="#/tab/cars/{{car.id}}">
        <img ng-src="{{car.image}}">
        <h2>{{car.name}}</h2>
        <p>{{car.price}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>  
  </ion-content>
</ion-view>
